In [47]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
data = pd.read_csv("sample_data/Social_Network_Ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [50]:
X = data[["Age","EstimatedSalary"]]
Y = data["Purchased"]

In [51]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

Linear Regression

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import math
model = LinearRegression()
model.fit(x_train,y_train)
y_predict = model.predict(x_test)
print("MSE",metrics.mean_absolute_error(y_test,y_predict))
print("RMSE",metrics.mean_squared_error(y_test,y_predict))
print("MAP",math.sqrt(metrics.mean_absolute_error(y_test,y_predict)))

MSE 0.2655035494352019
RMSE 0.09929708810652677
MAP 0.515270365376471

Polynomial Regression

In [60]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
x_train_p = poly.fit_transform(x_train)
Pmodel = LinearRegression()
Pmodel.fit(x_train_p,y_train)
y_predict = Pmodel.predict(x_train_p)
y_predicte_p = Pmodel.predict(poly.fit_transform(x_test))
print("MSE",metrics.mean_absolute_error(y_test,y_predicte_p))
print("RMSE",metrics.mean_squared_error(y_test,y_predicte_p))
print("MAP",math.sqrt(metrics.mean_absolute_error(y_test,y_predicte_p)))

MSE 0.2031128301213811
RMSE 0.0706771172145765
MAP 0.4506804079626505